.container{
    margin-left: 10%;
    margin-right: 10%;
}

.btnCadastro{
    padding: 10px;
    background: var(--primary-color);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCadastro:hover{
    background: white;
    color: var(--primary-color);
}

table {
    width: 100%;
  }

thead{
    height: 50px;
    background: var(--primary-color);
    color: white; 
    text-transform: uppercase;    
  }

  tbody{
    text-align: center;
  }


.btnEditarRegistro:hover{
    color: white;
  }

.btnExcluirRegistro:hover{
    color: white;
}

.btnPesquisa{
    padding: 10px;
    background: var(--primary-color);
    color: white;
    border: 0% !important;
    border-radius: 5px;
    text-decoration: none;
}

.btnCadastro:hover{
    background: white;
    color: var(--primary-color);
}
.box-search{
    display: flex;
}
.InputPesquisa{
    height: 100%;
    width: 50%;
    text-align-last: justify;
}
.titulo{
   color: var(--text-color); 
}